*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
section{
  height: 100vh;
  background: darkslategrey;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.score{
  color: white;
  height: 20vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}